*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.idea/
*.iml
.vscode/
*.swp
*.swo
*~
.DS_Store
dist/
bin/
terraform-provider-netcup
coverage.out
go.work
go.work.sum
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.rc
terraform.d/
